| {{content}}

hr
h2 If you see the text "Apple Pie" below, Jekyll Includes are working.
| {% include my-cool-include %}


hr
p Oh, and if you're reading this text, that means layouts are working properly.
